body{
    text-align: center;
    background-image: url("https://besthqwallpapers.com/Uploads/22-4-2019/88180/thumb2-4k-blue-digits-background-artwork-numbers-digits-textures.jpg");
    color: #f5172d;
    background-repeat: no-repeat;
    background-size: cover;
}

